* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font-size: 10px;
  --right-left-color: #667db6;
  --center-color: #0082c8;
  --bg-theader: rgba(44, 75, 51, 0.842);
  --border-table-color: rgba(44, 75, 51, 0.842);
}

html {
  font-size: var(--main-font-size);
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: var(--center-color);
  background: -webkit-linear-gradient(
    to right,
    var(--right-left-color),
    var(--center-color),
    var(--center-color),
    var(--right-left-color)
  );
  background: linear-gradient(
    to right,
    var(--right-left-color),
    var(--center-color),
    var(--center-color),
    var(--right-left-color)
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.fa-times {
  width: 25px;
  height: 25px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(170, 49, 70);
  font-size: 13px;
  color: #fff;
  cursor: pointer;
}

.show-alert {
  width: 20rem;
  height: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(52, 92, 52);
  color: #fff;
  position: absolute;
  bottom: 6%;
  right: 5%;
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;
}
